html {
  scroll-behavior: smooth;
}
hr{
  border-top: 1px solid #f2610e;
  border-top: 1px solid black;
  margin-left: 10vw;
  width: 40vw;
  margin-top: 20px;
  margin-bottom: 20px;
}
*{
  text-align: center;
  border: 0;
  padding: auto;
  margin: 0;
}
body{
  background-color: rgb(255, 255, 255);
}
.docs,.Intro{
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(78, 76, 76);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav ul{
  display: flex;
  list-style:none;
}
.nav li {
  margin-right: 3vw;
  color: #e6e3e3;
  cursor: pointer;
}
.leftLaOruAdi{
  margin-left: 20px;
  color: red;
  padding: 3px;
}

.copy-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-left: 10vw;
  height: 50px;
  background-color: #f5ebeb;
}
.desc{
  display: flex;
  align-items: center;
  justify-content: left;
  width: 70%;
  margin-left: 10vw;
  height: 50px;
  background-color: #ffeade;
}
.leftOram{
  background-color: #ea742f;
  width:5px;
  height: 100%;
  margin-left: 0px;
  margin-right: 5px;
}
.copy-item p{
  cursor: pointer;
  display: flex;
}
.copy{
  margin-left: 10px;
}
.curly {
  color: #f2610e;
}
@media only screen and (max-width: 600px) {
  .copy-item, .desc {
    width: 100vw;
    height: 8vh;
    margin-left: 0;
    margin-right: 0;
  }
}